.table-messagegraph thead th {
    text-align: center !important;
}

.table-messagegraph td {
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
    background: #fff;
    margin: 12px auto !important;
}

.circle-ma {
    width: 10px;
    height: 10px;
}

.circle-di {
    width: 15px;
    height: 15px;
}

.circle-wo {
    width: 30px;
    height: 30px;
}
.circle-do {
    width: 20px;
    height: 20px;
}
.circle-vr {
    width: 5px;
    height: 5px;
}
.circle-za {
    width: 50px;
    height: 50px;
}
.circle-zo {
    width: 2px;
    height: 2px;
}